*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
.kotlin/
/app/release/

# Ignore large image assets
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.svg
